:root {
  --white: #ffffff;
  --black: #000000;
}
*,
*::before,
*::after {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-width: 95%;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  height: 100%;
  line-height: 1.5;
  color: var(--black);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--white);
  background-image: url(./pictures/bmw.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}
.container {
  width: 100%;
  max-width: 1366px;
  padding: 0 0;
  margin: 0 auto;
}
.modal {
  z-index: 2;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: fixed;
  background-color: rgba(146, 146, 224, 0.263);
  padding: 30px 40px;
  width: 400px;
  height: 200px;
  border-radius: 25px;
  border: 2px solid rgba(137, 137, 227, 0.505);
  transition: 405ms ease-in-out;
  color:rgba(181, 181, 236, 0.905) ;
  gap: 23px;
}
.modal.active{
  display: flex;
}
.modal:hover{
  color: var(--white);
  background-color: rgba(146, 146, 224, 0.763);
  border: 2px solid rgba(137, 137, 227, 0.805);
  transition: 405ms ease-in-out;
}
.modal-top {
  display: flex;
  gap: 60px;
}

.modal-title {
  font-weight: 700;
  font-size: 23px;
  line-height: 29.2px;
  letter-spacing: 0.7px;
}

.modal-close {
  cursor: pointer;
  transition: 450ms ease-in-out;
}
.modal-close:hover {
  opacity: 0.7;
  transition: 450ms ease-in-out;
}
.modal-hr {
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.314);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20.2px;
  letter-spacing: 0.3px;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(47, 46, 46);
  opacity: 0.8;
  z-index: 1;
  filter: blur(35px);
  backdrop-filter: blur(35px);
}
.modal-overlay.active {
  display: block;
}
.modal-open {
  z-index: 2;
  display: flex;
  margin-top: 270px;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
  background-color: rgba(154, 154, 219, 0.505);
  border: none;
  opacity: 0.8;
  border-radius: 5px;
  cursor: pointer;
}
.modal-open.active{
  display: none;
}
.modal-open:hover {
  opacity: 1;
  transition: 450ms ease-in-out;
}
